html{
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20211110/pngtree-latar-foto-estetik-polos-image_915537.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}
header {
    background-color:rgba(183, 134, 232, 0.448);
    text-align: center;
    padding: 15px;
    border-radius: 15px;   
    margin: 0px;
}
h2 {
    font-size: 40px;
    color: rgb(36, 81, 122);
}
.navbar {
    background-color: rgb(234, 158, 118);
    padding: 20px;
    max-width: 1300px;
    border-radius: 80px;
    margin: 80px auto;
    
}
.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 80px;
    font-size: 25px;
}
.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
}
.nav-menu li a:hover {
    background-color: rgba(157, 46, 46, 0.6);
    border-radius: 100%;
}
main{
    margin: 10px 200px;
    text-align: justify;
    font-size: 20px;
    box-sizing: border-box;
}
h3 {
    color: rgb(36, 81, 122);
    font-size: 25px;
}
table, th, td {
    border: 1px solid rgb(198, 62, 21);
    border-width: medium;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}
th {
    background-color: rgba(236, 177, 126, 0.448);
}
section.kontak {
    background-color: rgba(198, 62, 21, 0.8);
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 20px auto 20px 0px;
    max-width: 400px;
}
footer {
    text-align: center;
    font-weight: bold;
}